.radio-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  cursor: pointer;
}

.radio-container.disabled {
  cursor: not-allowed;
}

.radio-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
}

.radio-label {
  display: inline-block;
  color: var(--color-gray-900);
}

.radio-input:disabled ~ .radio-label {
  color: var(--color-gray-300);
}

.large {
  height: 28px;
  font: var(--typography-body1-regular);
}

.large .radio-label {
  height: 24px;
}

.medium {
  height: 24px;
  font: var(--typography-body2-regular);
}

.medium .radio-label {
  height: 22px;
}

.small {
  height: 20px;
  font: var(--typography-body3-regular);
}

.small .radio-label {
  height: 20px;
}
