button {
  position: relative;
  border: none;
  overflow: hidden;
}

:root {
  --button-color: var(--color-light-blue-600);
  --button-disabled-color: var(--color-gray-300);
}

.button-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  opacity: 0;
  transition: opacity 0.1s linear;
  will-change: opacity;
  background-color: var(--color-black);
}

button:not(:disabled):hover .button-background {
  opacity: 0.075;
}

button:not(:disabled):active .button-background {
  opacity: 0.15;
}

.primary {
  background-color: var(--button-color);
  color: var(--color-white);
}

.primary:disabled {
  background-color: var(--button-disabled-color);
}

.secondary {
  background-color: var(--color-white);
  color: var(--button-color);
  border: 1px solid var(--button-color);
}

.secondary:disabled {
  color: var(--button-disabled-color);
  border: 1px solid var(--button-disabled-color);
}

.tertiary {
  background-color: var(--color-white);
  color: var(--button-color);
}

.tertiary:disabled {
  color: var(--button-disabled-color);
}

.large {
  height: 48px;
  line-height: 48px;
  padding: 0 12px;
  border-radius: 8px;
  font: var(--typography-body1-medium);
}

.medium {
  height: 40px;
  line-height: 40px;
  padding: 0 12px;
  border-radius: 6px;
  font: var(--typography-body2-medium);
}

.small {
  height: 36px;
  line-height: 36px;
  padding: 0 8px;
  border-radius: 4px;
  font: var(--typography-body3-medium);
}
