:root {
  --select-control-border-color: var(--color-gray-400);
  --select-control-active-border-color: var(--color-light-blue-400);
  --select-control-border-radius: 4px;
}

.select-control {
  position: relative;
  color: var(--color-gray-800);
}

.large {
  height: 56px;
  font: var(--typography-body1-regular);
}

.medium {
  height: 48px;
  font: var(--typography-body2-regular);
}

.small {
  height: 40px;
  font: var(--typography-body3-regular);
}

.select-control-left {
  width: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-left: 2px solid var(--select-control-border-color);
  border-top: 2px solid var(--select-control-border-color);
  border-bottom: 2px solid var(--select-control-border-color);
  border-top-left-radius: var(--select-control-border-radius);
  border-bottom-left-radius: var(--select-control-border-radius);
}

.select-control.active .select-control-left {
  border-color: var(--select-control-active-border-color);
}

.select-label-wrapper {
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  border-top: 2px solid var(--select-control-border-color);
  border-bottom: 2px solid var(--select-control-border-color);
  overflow: hidden;
}

.select-control.active .select-label-wrapper {
  border-top: none;
  border-bottom-color: var(--select-control-active-border-color);
  overflow: visible;
}

.select-label {
  display: inline-block;
  transition: transform 0.1s linear;
}

.select-control.active .select-label {
  padding: 0 4px;
  transform-origin: left top;
}

.select-control.large.active .select-label {
  transform: translate(0px, -24px) scale(0.7);
}

.select-control.medium.active .select-label {
  transform: translate(0px, -20px) scale(0.7);
}

.select-control.small.active .select-label {
  transform: translate(0px, -16px) scale(0.7);
}

.select-control-right {
  width: 32px;
  padding-top: 12px;
  padding-bottom: 12px;
  flex: 1;
  border-right: 2px solid var(--select-control-border-color);
  border-top: 2px solid var(--select-control-border-color);
  border-bottom: 2px solid var(--select-control-border-color);
  border-top-right-radius: var(--select-control-border-radius);
  border-bottom-right-radius: var(--select-control-border-radius);
}

.select-control.active .select-control-right {
  border-color: var(--select-control-active-border-color);
}

.select-control-dropdown-indicator {
  position: absolute;
  right: 4px;
  height: 24px;
  color: var(--color-gray-700);
}

.select-control.large .select-control-dropdown-indicator {
  top: 16px;
}

.select-control.medium .select-control-dropdown-indicator {
  top: 12px;
}

.select-control.small .select-control-dropdown-indicator {
  top: 8px;
}

.select-options {
  padding: 24px;
  background-color: var(--color-white);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
