:root {
  --text-field-active-color: var(--color-blue-400);
}

.container {
  position: relative;
  display: inline-flex;
}

input,
textarea {
  min-height: 1.5em;
  height: 1.5em;
}

.with-label *::placeholder {
  opacity: 0;
}

.label {
  position: absolute;
  font-size: 1rem;
  color: var(--color-gray-500);
  will-change: transform;
  transition: transform 0.1s linear;
}

.outlined.normal {
  padding: 16px 12px;
}

.outlined.small {
  padding: 8px 12px;
}

.outlined.normal .label {
  top: 16px;
  left: 12px;
}

.outlined.small .label {
  top: 8px;
  left: 12px;
}

.outlined fieldset {
  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 8px;
  border: 1px solid var(--color-gray-600);
  border-radius: 4px;
  pointer-events: none;
}

.outlined:not(.with-label) fieldset {
  top: 0;
}

.outlined fieldset > legend {
  width: auto;
  max-width: 0px;
  font-size: 0.75em;
  transition: max-width 0.05s linear;
}

.outlined.with-label fieldset > legend > span {
  opacity: 0;
  padding-left: 2px;
  padding-right: 2px;
}

.outlined.normal.active .label {
  transform: translate(0px, -22px) scale(0.75);
  transform-origin: top left;
}

.outlined.small.active .label {
  transform: translate(0px, -14px) scale(0.75);
  transform-origin: top left;
}

.outlined.active fieldset > legend {
  max-width: 100%;
}

.container.outlined:focus-within .label {
  color: var(--text-field-active-color);
}

.container.outlined:focus-within fieldset {
  border-color: var(--text-field-active-color);
}

.container:focus-within > *::placeholder {
  opacity: 1;
}

.filled.normal {
  padding: 24px 12px 8px;
  background-color: rgba(0, 0, 0, 0.06);
  border-radius: 4px 4px 0 0;
  border-bottom: 2px solid var(--color-gray-500);
}

.filled.small {
  padding: 20px 12px 4px;
  background-color: rgba(0, 0, 0, 0.06);
  border-radius: 4px 4px 0 0;
  border-bottom: 2px solid var(--color-gray-500);
}

.filled.active {
  border-bottom-color: var(--text-field-active-color);
}

.filled.normal .label {
  top: 20px;
  left: 12px;
}

.filled.small .label {
  top: 16px;
  left: 12px;
}

.filled.active .label {
  color: var(--text-field-active-color);
  transform: translate(0px, -12px) scale(0.75);
  transform-origin: top left;
}

.standard.normal {
  padding-top: 24px;
  padding-bottom: 4px;
  border-bottom: 2px solid var(--color-gray-500);
}

.standard.small {
  padding-top: 20px;
  padding-bottom: 4px;
  border-bottom: 2px solid var(--color-gray-500);
}

.standard.active {
  border-bottom-color: var(--text-field-active-color);
}

.standard.normal .label {
  top: 24px;
  left: 0;
}

.standard.small .label {
  top: 20px;
  left: 0;
}

.standard.active .label {
  color: var(--text-field-active-color);
  transform: translate(0px, -20px) scale(0.75);
  transform-origin: top left;
}

.helper-text {
  margin-top: 4px;
  font: var(--typography-body4-regular);
  color: var(--color-gray-600);
}

.input-wrapper {
  display: flex;
  align-items: center;
}

.left {
  display: flex;
  margin-right: 8px;
}

.error,
.error .label,
.error fieldset,
.error + .helper-text {
  color: var(--color-red-600) !important;
  border-color: var(--color-red-600) !important;
}

.disabled,
.disabled .label,
.disabled fieldset,
.disabled + .helper-text {
  opacity: 0.6;
}
