.chip-root {
  position: relative;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  font-size: 0.875rem;
  overflow: hidden;
}

.chip-root.small {
  height: 24px;
}

.chip-root.outlined {
  box-sizing: content-box;
}

.chip-root.clickable {
  cursor: pointer;
}

.chip-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  opacity: 0;
  transition: opacity 0.1s linear;
  will-change: opacity;
  background-color: var(--color-black);
}

.chip-root.clickable:hover .chip-background {
  opacity: 0.075;
}

.chip-label {
  padding: 0 12px;
}

.small .chip-label {
  padding: 0 8px;
}

.chip-icon {
  margin-left: 5px;
  margin-right: -6px;
  font-size: 24px;
}

.chip-delete-icon {
  position: relative;
  margin-right: 5px;
  margin-left: -6px;
  font-size: 24px;
  transition: opacity 0.1s linear;
  will-change: opacity;
  cursor: pointer;
}

.chip-delete-icon:hover {
  opacity: 0.7;
}

.small .chip-icon,
.small .chip-delete-icon {
  font-size: 16px;
}
