.slider-container {
  position: relative;
  height: 4px;
  padding: 13px 0;
  touch-action: none;
  cursor: pointer;
}

.slider-container.disabled {
  opacity: 0.25;
}

.slider-container.small {
  height: 2px;
}

.slider-container.vertical {
  width: 4px;
  height: 100%;
  padding: 0 13px;
}

.slider-container.vertical.small {
  width: 2px;
}

.slider-filled {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: inherit;
  border-radius: 4px;
  background-color: currentColor;
}

.vertical .slider-filled {
  top: auto;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: inherit;
}

.slider-track {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: inherit;
  border-radius: 4px;
  opacity: 0.4;
  background-color: currentColor;
}

.vertical .slider-track {
  top: auto;
  left: 50%;
  transform: translateX(-50%);
  width: inherit;
  height: 100%;
}

.slider-thumb {
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: currentColor;
}

.vertical .slider-thumb {
  top: auto;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.small .slider-thumb {
  width: 12px;
  height: 12px;
}

.slider-value {
  position: absolute;
  top: -50%;
  transform: translate(0%, -100%) scale(0);
  transform-origin: bottom;
  transition: transform 0.1s linear;
  min-width: 40px;
  padding: 4px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  background-color: var(--color-gray-500);
  font-size: 0.75rem;
  font-weight: 600;
  color: white;
}

.vertical .slider-value {
  top: auto;
  right: 30px;
  transform: scale(0);
  transform-origin: right;
  padding: 4px 12px;
}

.vertical.small .slider-value {
  right: 20px;
}

.slider-value.display-on {
  transform: translate(0%, -100%) scale(1);
}

.vertical .slider-value.display-on {
  transform: translate(0%, 0%) scale(1);
}

.small .slider-value {
  min-width: 20px;
  padding: 2px 8px;
}

.slider-value::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 8px;
  height: 8px;
  background-color: var(--color-gray-500);
}

.vertical .slider-value::after {
  top: 50%;
  left: 100%;
}

.small .slider-value::after {
  width: 6px;
  height: 6px;
}

.slider-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

.slider-marks {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: inherit;
}

.slider-mark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  z-index: 2;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #fff;
}
